# Ignore node_modules
node_modules
server/node_modules
src/node_modules

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore build output
build
dist

# Ignore environment variables
# .env
# server/.env

# Ignore Docker files
Dockerfile
server/Dockerfile
src/Dockerfile

# Ignore Docker Compose file
docker-compose.yml

# Ignore miscellaneous files
.DS_Store
*.swp
